@use '../core/variables' as vars;

html {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

.button {
    background-color: vars.$color-main;
    color: vars.$color-text-white;
    padding: 1rem; 
}