@use '../core/variables' as vars;


.button--border {
    border: 1px solid white;
    
    
}
.color_proyectos {
    background-color: vars.$color-main ;
    
}

.texto_proyectos {
    color: vars.$color-text-white;
}

.tittle_proyectos {
    margin-left: 83px;
    font-weight:bold;
    color: vars.$color-text-white;
    font-size: 16px  
    
    
}

.Box_main_proyectos1 {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.proyectosimg {
    max-width:100%
    
    
}

.texto_proyectos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10%;
}

.Branding{
    font-size: 14px;
    color: #bdb0ec;
}

.contenedor_button {
    display: flex;
    justify-content: center;
}

.texto_proyectos_entrada {
   display: none;     
        
}




    /* Desk */
@media screen and (min-width: 1024px){

    .texto_proyectos_entrada{
        padding: 25px;
        padding-left: 110px;
        width: 50%;
        display: grid;
        display: block;
        font-size: 40px;
        color: white
        
    }


    .contenedor_proyectos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      
      .Box_main_proyectos1 {
        display: flex;
        flex-direction: column;
      }
      
      .proyectosimg {
        width: 80%;
        height: auto;
        display: block;
      }
      
      .texto_proyectos {
        display: flex;
        justify-content: space-between;
        width: 80%;
      }
      
    
      .contenedor_button {
        display: flex;
        justify-content: start;
        padding-top: 25px;
        padding-left: 110px;
       
      }
      
      
}

