@use '../core/variables' as vars;


.button--border {
    border: 1px solid white;  
}

.proyectos {
    background-color: vars.$color-main ;
    padding-bottom: 60px;
    padding-top: 60px;  
}

.proyectos__title {
    color: vars.$color-text-white;
    margin-left: 23px;
    font-weight:bold;
    font-size: 16px  
}



.proyectos__box {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.proyectos__img {
    max-width:100% 
}

.proyectos__box-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 520px;
    padding-top: 10px;
    color: vars.$color-text-white;
}

.proyectos__subtitle{
    font-size: 14px;
    color: #bdb0ec;
}

.contenedor_button {
    display: flex;
    justify-content: center;
    margin-top: 60px;  
}

.proyectos__text {
   display: none;             
}




    /* Desk */
@media screen and (min-width: 1024px){


    .proyectos__title   {
        padding-left: 90px;
    }

    .proyectos__text{
        padding: 25px;
        padding-left: 110px;
        width: 70%;
        display: grid;
        display: block;
        font-size: 40px;
        color: white
    }

    .proyectos__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      
      .proyectos__box {
        display: flex;
        flex-direction: column;
      }

      .proyectos__img {
        width: 80%;
        height: auto;
        display: block;
      }
      
      .proyectos__box-text {
        display: flex;
        justify-content: space-between;
        width: 80%;
        max-width: 80%;
      }

      .contenedor_button {
        display: flex;
        justify-content: start;
        padding-top: 25px;
        padding-left: 110px;
      }
    
      .proyect__text-style  {
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-decoration-color: white;
        text-decoration-thickness: 0.1rem;
        text-underline-offset: 0.5rem;
    }
      
}

