<header class="header">
  <a class="nav-list__link" href="index.html"><img class="header__logo" src="./images/logo-adadev.png" title="AdaDev"/></a>
<nav class="header__nav">
  <ul class="nav-list">
    <li><a class="nav-list__link" href="index.html">Home</a></li>
    <li><a class="nav-list__link" href="#proyectos">Proyectos</a></li>
    <li><a class="nav-list__link"  href="#noticias" href="">Noticias</a></li>
    <li><a class="nav-list__link" href="https://adalab.es/" target="_blank">Adalab</a></li>
  </ul>
</nav>
<div>
  <a href="contact.html"><img  class="header__hamburguer" src="./images/hamburguer.png" title="AdaDev"/></a>
  <a href="contact.html" class="header__button button">Contáctanos →</a>
</div>
</header>
