<header class="header">
<img class="header__logo" src="./images/logo-adadev.png" title="AdaDev"/>
<nav class="header__nav">
  <ul class="nav-list">
    <li><a class="nav-list__link" href="index.html">Home</a></li>
    <li><a class="nav-list__link" href="#noticias">Noticias</a></li>
    <li><a class="nav-list__link" href="">Blog</a></li>
    <li><a class="nav-list__link" href="">Servicios</a></li>
  </ul>
</nav>
<div>
  <a href="contact.html"><img  class="header__hamburguer" src="./images/hamburguer.png" title="AdaDev"/></a>
  <a href="contact.html" class="header__button button">Contáctanos →</a>
</div>
</header>
