<section id="noticias" class="noticias"> 
<h3 class="noticias__title">Noticias</h3>

<div class="noticias__container">
  <article class="noticias__article">
    <div class="noticias__article__image">
      <img src="../images/noticia-01.png" alt="Elon" />
    </div>
    <p class="noticias__article__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  </article>

  <article class="noticias__article">
    <div class="noticias__article__image">
      <img src="../images/noticia-02.png" alt="Chica" />
    </div>
    <p class="noticias__article__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
</article>

  <article class="noticias__article">
    <div class="noticias__article__image">
      <img src="../images/noticia-03.png" alt="Cohete" />
    </div>
    <p class="noticias__article__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
</article>
</div>

<button class="boton-noticias">Explora noticias</button>
</section>