

<section class="color_proyectos">
    
    <h3 class="tittle_proyectos">PROYECTOS</h3>
    <p class="texto_proyectos_entrada">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis luctus lacus. 
      Nunc porta ipsum et tempor euismod.
    </p>
  
    <div class="contenedor_proyectos">
      <section class="Box_main_proyectos1">
        <img class="proyectosimg" src="../images/proyecto-01.png" alt="BLVCK">
        <div class="texto_proyectos">
          <p>BLVCK</p>
          <p class="Branding">Branding</p>
        </div>
      </section>
  
      <section class="Box_main_proyectos1">
        <img class="proyectosimg" src="../images/proyecto-02.png" alt="CREAM">
        <div class="texto_proyectos">
          <p>CREAM</p>
          <p class="Branding">Branding</p>
        </div>
      </section>
  
      <section class="Box_main_proyectos1">
        <img class="proyectosimg" src="../images/proyecto-03.png" alt="FREDI">
        <div class="texto_proyectos">
          <p>FREDI</p>
          <p class="Branding">Branding</p>
        </div>
      </section>
  
      <section class="Box_main_proyectos1">
        <img class="proyectosimg" src="../images/proyecto-04.png" alt="APOLLO">
        <div class="texto_proyectos">
          <p>APOLLO</p>
          <p class="Branding">Branding</p>
        </div>
      </section>
    </div>
  
    <section class="contenedor_button">
      <a class="button button--border">Explora nuestros servicios</a>
    </section>
  </section>
  
     

