

 <section>
        <section>
                <h3>PROYECTOS</h3>
                <img src="../images/proyecto-01.png">
            <div>
                <p>BLVCK</p>
                <p>Branding</p>
            </div>

        <section>
            <img src="../images/proyecto-02.png">
                <div>
                    <p>CREAM</p>
                    <p>Branding</p>
                </div>
                
        </section>

     <section>
        <div>
            <img src="../images/proyecto-03.png">
            <p>FREDI</p>
            <p>Branding</p>
        </div>
     </section>

     <section>
        <div>
            <img src="../images/proyecto-04.png">
            <p>APOLLO</p>
            <p>Branding</p>
        </div>
     </section>

     <section>
        <a class="button">Explora nuestros servicios</a>
     </section>

</section>
   
     

