<section class="hero">
  <section class="hero__section-1">
    <h1>
      Equipo de desarrollo <span class="hero__section-1-AdaDev">AdaDev</span>
    </h1>
  </section>
  <section class="hero__section-2">
    <a class="button">Explora nuestros servicios</a>
  </section>
  <section class="hero__section-3">
    <h2>
      Un equipo de especialistas listas para potenciar tu presencia digital
    </h2>
  </section>
  <section class="hero__section-4">
    <article class="hero__section-4-article">
      <img src="./images/icono-programacion.png" alt="Icono de un ordenador" />
      <h3>Programación</h3>
      <p class="hero__section-4-article-title">Soluciones a medida, eficientes y escalables</p>
      <p class="hero__section-4-article-text">
        Desarrollamos software personalizado que se adapta a tus necesidades.
        Desde sitios web hasta plataformas complejas.
      </p>
      <a href="#">Leer más</a>
    </article>
    <article class="hero__section-4-article">
      <img src="./images/icono-marketing.png" alt="Icono de un grafico" />
      <h3>Marketing</h3>
      <p  class="hero__section-4-article-title">Estrategias digitales que convierten</p>
      <p class="hero__section-4-article-text">
        Te ayudamos a conectar con tu audiencia con campañas inteligentes,
        contenido de valor y análisis de resultados.
      </p>
      <a href="#">Leer más</a>
    </article>
    <article class="hero__section-4-article">
      <img src="./images/icono-diseno.png" alt="Icono de boligrafo" />
      <h3>Diseño</h3>
      <p  class="hero__section-4-article-title">Creatividad enfocada en la experiencia</p>
      <p class="hero__section-4-article-text">
        Diseñamos interfaces y marcas que impactan. Nuestro enfoque combina
        estética con funcionalidad.
      </p>
      <a href="#">Leer más</a>
    </article>
  </section>
</section>
