
<body>
    <nav>
        <section>
            <article>
                <div>
                    <h3>PROYECTOS</h3>
                    <img src="../images/proyecto-01.png">
                    <p>BLVCK</p>
                    <p>Branding</p>
                </div>
            </article>

     <section>
        <div>
            <img src="../images/proyecto-02.png">
            <p>CREAM</p>
            <p>Branding</p>
        </div>
     </section>

     <section>
        <div>
            <img src="../images/proyecto-03.png">
            <p>FREDI</p>
            <p>Branding</p>
        </div>
     </section>

     <section>
        <div>
            <img src="../images/proyecto-04.png">
            <p>APOLLO</p>
            <p>Branding</p>
        </div>
     </section>

     <section>
        <button>Explora nuestros servicios</button>
     </section>

    </section>
    </nav>
     









</body>