
<h3>Noticias</h3> 

<div class="contenedor">
    <div class="article">
    <img src="../images/noticia-01.png" alt="Elon">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
</div>
<div class="article">
    <img src="../images/noticia-02.png" alt="Chica">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
</div>

<div class="article">
    <img src="../images/noticia-03.png" alt="Cohete">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
</div>

<button class="boton-noticias">Explora noticias</button>