<section class="hero__section-1">
    <h1>Lorem ipsum <span class="hero__section-1-AdaDev">AdaDev</span></h1>
</section>
<section class="hero__section-2">
    <a class="button">Explora nuestros servicios</a>
</section>
<section class="hero__section-3">
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing alit</h2>
</section>
<section class="hero__section-4">
    <article class="hero__section-4-article">
        <img src=".//images/icono-programacion.png" alt="Icono de un ordenador">
        <h3>Programación</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing alit</p>
        <a href="#">Leer más</a>
    </article>
    <article class="hero__section-4-article">
        <img src=".//images/icono-marketing.png" alt="Icono de un grafico">
        <h3>Marketing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing alit</p>
        <a href="#">Leer más</a>
    </article>
    <article class="hero__section-4-article">
        <img src=".//images/icono-diseno.png" alt="Icono de boligrafo">
        <h3>Diseño</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing alit</p>
        <a href="#">Leer más</a>
    </article>
</section>