<section id="noticias" class="noticias"> 
<h3 class="noticias__title">Noticias</h3>

<div class="noticias__container">
  <article class="noticias__article">
    <div class="noticias__article__image">
      <img src="../images/noticia-01.png" alt="Elon" />
    </div>
    <p class="noticias__article__text">Elon Musk revela sus nuevos planes para colonizar Marte en tiempo récord.</p>
  </article>

  <article class="noticias__article">
    <div class="noticias__article__image">
      <img src="../images/noticia-02.png" alt="Chica" />
    </div>
    <p class="noticias__article__text">Estudiante de tecnología crea app que traduce lenguaje de señas en tiempo real.</p>
</article>

  <article class="noticias__article">
    <div class="noticias__article__image">
      <img src="../images/noticia-03.png" alt="Cohete" />
    </div>
    <p class="noticias__article__text">Cohete experimental alcanza la estratósfera y marca un hito en la exploración espacial.</p>
</article>
</div>

<button class="noticias__boton">Explora noticias</button>
</section>